{% extends "masters/admin_master.html" %}

{% block title %}
  Add Blog
{% endblock title %}

{% block page-name %}
  Add Blog
{% endblock page-name %}

{% block body %}
<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: '#description',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent | link image'
        });
        tinymce.init({
            selector: '#short_description',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent | link image'
        });
    </script>
<style>
    .add-product-section-43264 .container {
        max-width: 90%;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .add-product-section-43264 h2 {
        text-align: center;
    }
    .add-product-section-43264 form {
        margin-top: 20px;
    }
    .add-product-section-43264 label {
        font-weight: bold;
    }
    .add-product-section-43264 input[type="text"],
    .add-product-section-43264 input[type="number"],
    select,
    .add-product-section-43264 textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .add-product-section-43264 input[type="file"] {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .add-product-section-43264 .image-preview {
        text-align: center;
        margin-bottom: 20px;
    }
    .add-product-section-43264 .image-preview img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .add-product-section-43264 input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
    .add-product-section-43264 input[type="submit"]:hover {
        background-color: #45a049;
    }
    .preview-container{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .preview-container .image-preview{
        border: solid 1px rgb(172, 172, 172);
    }
</style>
<div class="add-product-section-43264">
<div class="container">
<h2>Blog Form</h2>
<form action="{%url 'add-blog'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Author Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    
    <label for="email">Author Email:</label><br>
    <input type="email" id="email" name="email" required><br>

    <label for="name">Blog Title:</label><br>
    <input type="text" id="title" name="title" required><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="8"></textarea><br>

    <label for="tags">Tags:</label><br>
    <input type="text" id="tags" name="tags"><br>


    <input type="submit" value="Submit">
</form>
</div>
</div>
{% endblock body %}