{% extends "masters/admin_master.html" %}

{% block title %}
  Add Company
{% endblock title %}

{% block page-name %}
  Company
{% endblock page-name %}

{% block body %}
<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: '#description',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent | link image'
        });
        tinymce.init({
            selector: '#short_description',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent | link image'
        });
    </script>
<style>
    .add-product-section-43264 .container {
        max-width: 90%;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .add-product-section-43264 h2 {
        text-align: center;
    }
    .add-product-section-43264 form {
        margin-top: 20px;
    }
    .add-product-section-43264 label {
        font-weight: bold;
    }
    .add-product-section-43264 input[type="text"],
    .add-product-section-43264 input[type="number"],
    select,
    textarea,
    .add-product-section-43264 textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .add-product-section-43264 input[type="file"] {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .add-product-section-43264 .image-preview {
        text-align: center;
        margin-bottom: 20px;
    }
    .add-product-section-43264 .image-preview img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .add-product-section-43264 input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
    .add-product-section-43264 input[type="submit"]:hover {
        background-color: #45a049;
    }
    .preview-container{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .preview-container .image-preview{
        border: solid 1px rgb(172, 172, 172);
    }
</style>
<div class="add-product-section-43264">
<div class="container">
<h2>Company Form</h2>
<form action="{%url 'add-company'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    
    <label for="name">Description:</label><br>
    <textarea id="id_description" name="description" ></textarea><br>
    
    <label for="name">Phone Number (+91):</label><br>
    <input type="text" id="id_phone_number" name="phone_number" required><br>
    
    <label for="name">Address:</label><br>
    <input type="text" id="id_address" name="address"><br>
    
    <label for="name">Email:</label><br>
    <input type="email" id="id_email" name="email" required><br>

    <label for="image">Logo:</label><br>
    <input type="file" id="id_logo" name="logo" ><br>

        <div class="preview-container" id="previewContainer"></div>
    
    <label for="image">Favicon:</label><br>
    <input type="file" id="id_favicon" name="favicon"><br>

        <div class="preview-container" id="previewContainer2"></div>
`

    <input type="submit" value="Submit">
</form>
</div>
</div>
<script>
document.getElementById('id_logo').addEventListener('change', function(event) {
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function(event) {
        var imgElement = document.createElement('img');
        imgElement.src = event.target.result;
        imgElement.style.maxWidth = '300px'; // Adjust max width as needed
        imgElement.style.maxHeight = '300px'; // Adjust max height as needed

        var previewContainer = document.getElementById('previewContainer');
        previewContainer.innerHTML = ''; // Clear previous preview
        previewContainer.appendChild(imgElement);
      };

      reader.readAsDataURL(file);
    });
document.getElementById('id_favicon').addEventListener('change', function(event) {
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function(event) {
        var imgElement = document.createElement('img');
        imgElement.src = event.target.result;
        imgElement.style.maxWidth = '300px'; // Adjust max width as needed
        imgElement.style.maxHeight = '300px'; // Adjust max height as needed

        var previewContainer = document.getElementById('previewContainer2');
        previewContainer.innerHTML = ''; // Clear previous preview
        previewContainer.appendChild(imgElement);
      };

      reader.readAsDataURL(file);
    });

</script>
{% endblock body %}