{%load static%}
<footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                {% if company.logo%}
                                <a href="{% url 'homepage'%}"><img src="/media/{{company.logo}}" alt=""></a>
                                {% else %}
                                <a href="{% url 'homepage'%}"><img src="{% static 'img/core-img/logo.png'%}" alt=""></a>
                                {% endif %}
                            </div>
                            <p>Lorem ipsum dolor sit samet, consectetur adipiscing elit. India situs atione mantor</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="{% url 'shop'%}">Shop</a></li>
                                    <li><a href="{% url 'cart'%}">Cart</a></li>
                                    <li><a href="{% url 'orders'%}">Orders</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>BEST SELLER</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            {% for product in best_seller_footer %}
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    {% for image in first_images %}
                                      {% if image.product.id == product.id %}
                                      <a href="{% url 'product-details' product_id=product.id%}"><img src="/media/{{image.image}}" alt=""></a>
                                      {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="product-info">
                                    <a href="{% url 'product-details' product_id=product.id %}">{{product.name}}</a>
                                    <p>{{company.currency_symbol}} {{product.selling_price}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> {{company.address}}</p>
                                <p><span>Phone:</span> +91 {{company.phone_number}}</p>
                                <p><span>Email:</span> {{company.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | {{company.name | upper}}</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="{% url 'homepage'%}">Home</a></li>
                                    <li><a href="{% url 'about'%}">About</a></li>
                                    <li><a href="{% url 'contact-us'%}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>