{% extends "masters/index_master.html" %}


{% block body %}
    <!-- ##### Hero Area Start ##### -->
    {% include "slides/banner.html" %}
    <!-- ##### Hero Area End ##### -->
    
  <!-- ##### Service Area Start ##### -->
  {% include "services/services.html" %}
  <!-- ##### Service Area End ##### -->

  <!-- ##### About Area Start ##### -->
  {% include "aboutus/aboutus.html" %}
  <!-- ##### About Area End ##### -->

  <!-- ##### Portfolio Area Start ##### -->
  <!-- ##### Portfolio Area End ##### -->

  <!-- ##### Testimonial Area Start ##### -->
  {% include "testimonials/testimonials.html" %}
  <!-- ##### Testimonial Area End ##### -->

  <!-- ##### Product Area Start ##### -->
  {% include "new-arrivals/new-arrivals.html" %}
  <!-- ##### Product Area End ##### -->

  <!-- ##### Subscribe Area Start ##### -->
  {% include "newsletter/newsletter.html" %}
  <!-- ##### Subscribe Area End ##### -->

  <!-- ##### Contact Area Start ##### -->
  {% include "contact/contact.html" %}
  <!-- ##### Contact Area End ##### -->
{% endblock body %}