{% extends "masters/admin_master.html" %}

{% block title %}
  Newsletters
{% endblock title %}

{% block page-name %}
  All Newsletters
{% endblock page-name %}

{% block body %}
{% load custom_filter %}
<style>
    .active-product,.deactive-product{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgb(6, 6, 35);
        padding: 10px;
        border-radius: 10px;
        color: white;   
    }
    .active-product .active-circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #53e453;
        box-shadow: 0px 0px 10px #53e453;
    }
    .deactive-product .deactive-circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ff1a1a;
        box-shadow: 0px 0px 10px #ff1a1a;
    }
    .thumbnail{
        max-width: 200px;
    }
    .hidden{
        display: none;
    }
</style>
    <div class="all-products-wrapper">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Email</td>
                    <td>Date</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                {% for newsletter in newsletters %}
                  <tr>
                    <td>#{{newsletter.id}}</td>
                    <td>{{newsletter.email}}</td>
                    <td>
                        {{newsletter.date_time}}
                    </td>
                    <td>
                        {% if newsletter.is_approved %}
                          Approved ✔️
                          {%else%}
                          <form action="{%url 'approve-newsletter'%}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{newsletter.id}}" name="newsletter_id">
                            <button class="btn btn-success">Approve</button>
                          </form>
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}